<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Segmentar</h3>
      </div>
      <div class="panel-body">
        <%= render 'search_form' %>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= Profile.model_name.human(count: 2) %></h3>
      </div>
      <div class="panel-body">
        <%= render 'collection', profiles: @profiles %>
      </div>

      <div class="panel-footer">
        <%= paginate @profiles %>
      </div>
    </div>
  </div>
</div>
